<div class="container1">

    <h1 style="margin-top:10px;">ログイン</h1>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <div style ="margin-top:20px;">メールアドレス</div><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <div style ="margin-top:20px;">パスワード</div><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <div style ="display:inline-block; margin-top:10px;">ログイン情報を保存</div><br />
    </div>
  <% end %>

  <div class="actions" style="font-size:1.5rem; margin-top:10px;">
    <%= f.submit "ログイン",:style=>
  "display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #E85A70;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
  margin-top:10px;"  %>
  </div>
<% end %>

    
<div style="margin-top:30px;">
<%= render "members/shared/links" %>
</div>
    
</div>