<div class="container1">
	<h4><%= @error_message %></h4>    
<h1  class="mypage-label">ユーザー情報 </h1>

<table>
  <tr>
    <th>ユーザー名</th>
    <td><%= current_member.name %></td>
  </tr>
  <tr>
    <th>メールアドレス</th>
    <td><%= current_member.email %></td>
  </tr>
</table>  

<br>
<div class="button-area new">
	<%= link_to("ログアウト", "/sign_out") %>
</div>

<div class="button-area new">
<%= link_to("ユーザー情報の編集", "/members/edit") %>
</div>    

</div>

<div class="container1">
<div class="container4">
    <h1  class="mypage-label">投稿コメント</h1>
    <% if @comments.present? %>
    <!--    each文1個目始まり　　--> 
    <% @articles.reverse_each do |article| %>
    <!--　if文で「対象ユーザーのコメントがあるか」検証　-->     
    <% if @comments.where(article_id: article.id).present? %>
    <div>
        <%= link_to("/article/#{article.id}",:style=>"text-decoration: none;") do %>
        <h4 class="article-title-area">
            <div class="article-title">
              <%= raw(article.title.gsub(/\n/,'<br>')) %>
              <% case article.genre when "maker" %>
              <div class="genre1 maker">メーカー</div>
              <% when "retail" %>
              <div class="genre1 retail">小売</div>
              <% when "finance" %>
              <div class="genre1 finance">金融</div>
              <% when "infra" %>
              <div class="genre1 infra">インフラ</div>
              <% when "logi" %>
              <div class="genre1 logi">物流</div>
              <% when "it" %>
              <div class="genre1 it">IT</div> 
              <% when "education" %> 
              <div class="genre1 education">教育</div>  
              <% when "sports" %>
              <div class="genre1 sports">スポーツ</div> 
              <% when "culture" %>
              <div class="genre1 culture">文化</div> 
              <% when "business" %>
              <div class="genre1 business">ビジネス</div> 
              <% when "food" %>
              <div class="genre1 food">飲食</div>
              <% end %>
            </div>
            <img class="article-title-img" src="<%= "/article_images/#{article.img1}" %>">   
        </h4>   
        <% end %>      
    <div class="clear"></div>
    
    <!--　each文2個目始まり　-->
    <% @comments.reverse_each do |comment| %>
    <!--     @article = Article.find_by(id: comment.article_id) %>-->
    <!--link_to始まり    --> 
    <!--　if文で「ユーザーコメントにひもづく記事IDが、ループ中の記事IDに合致しているか」を検証　-->
    <% if comment.article_id == article.id %>
    <%= link_to("/article/#{comment.article_id}",:style=>"text-decoration: none;") do %>     
    <div class="mypage_comment_area0">
        <p>
            「<%= comment.content %>」
        </p>
    </div>
    <% end %>
    <!--link_toの終わり    -->    
    <div class="btn btn-success btn-sm" >  
        <%= link_to("編集", "/comment/#{comment.id}/edit", {:style=>"color:white; "}) %>
    </div>
            <div style="display:inline-block;">
                <%= form_tag("/comment/#{comment.id}/destroy", {multipart: true}) do %>
                <input type="submit" class="btn btn-success btn-sm" style="font-size:1.0rem;" value="削除">
                <% end %>                
            </div>
    <% end %>
  
    <% end %>
    <!--　each文2個目終わり　-->
    
    <% else %> 
    <!--　if文で「対象ユーザーのコメントがあるか」検証のelse　-->
    <% end %>

    <% end %>
    <!--　each文1個目終わり　-->
    </div>
    
    <% else %> 
    まだ投稿したコメントはありません。
    <% end %>     
    <div class="clear"></div>
    
  
</div>
</div>

