<div class = "container1">
<div class = "container4" style="background-color: white;">

<% if @article.title.present? %>
<h1 class="show-article-title-area"><%= raw(@article.title.gsub(/\n/,'<br>') )%></h1>
<% else %>
<% end %>

<% case @article.genre
    when "maker" %>
    <div class="genre0 maker">メーカー</div>
    <% when "retail" %>
    <div class="genre0 retail">小売</div>
    <% when "finance" %>
    <div class="genre0 finance">金融</div>
    <% when "infra" %>
    <div class="genre0 infra">インフラ</div>
    <% when "logi" %>
    <div class="genre0 logi">物流</div>
    <% when "it" %>
    <div class="genre0 it">IT</div>
    <% when "education" %>
    <div class="genre0 education">教育</div>
    <% when "sports" %>
    <div class="genre0 sports">スポーツ</div>
<% end %>

<div style="text-align: center;">
<% if @article.titleimg.present? %>
<img src="<%= "/article_images/#{@article.titleimg}" %>" class="article_image1">
<% else %>
<% end %>
</div>

<div style="margin-top: 40px;">
<% if @article.lead.present? %>
<%= raw(@article.lead.gsub(/\n/,'<br>') )%>
<% else %>
<% end %>
</div>

 

<div class="show-article">


<% if @article.topic1.present? %>
<div class="article-topic">
<%= raw(@article.topic1.gsub(/\n/,'<br>') )%>
</div>
<% else %>
<% end %>
<% if @article.content1.present? %>
<p>
<%= raw(@article.content1.gsub(/\n/,'<br>') )%>
</p>
<% else %>
<% end %>

<% if @article.topic2.present? %>
<div class="article-topic">
<%= raw(@article.topic2.gsub(/\n/,'<br>') )%>
</div>
<% else %>
<% end %>
<% if @article.content2.present? %>
<p>
<%= raw(@article.content2.gsub(/\n/,'<br>') )%>
</p>
<% else %>
<% end %>
<div style="text-align: center;">
<% if @article.img2.present? %>
<img src="<%= "/article_images/#{@article.img2}" %>" class="article_image2">
<% else %>
<% end %>
</div>

<% if @article.topic3.present? %>
<div class="article-topic">
<%= raw(@article.topic3.gsub(/\n/,'<br>') )%>
</div>
<% else %>
<% end %>
<% if @article.content3.present? %>
<p>
<%= raw(@article.content3.gsub(/\n/,'<br>') )%>
</p>
<% else %>
<% end %>
<div style="text-align: center;">
<% if @article.img3.present? %>
<img src="<%= "/article_images/#{@article.img3}" %>" class="article_image2">
<% else %>
<% end %>
</div>


</div>

</div>
</div>
<div class="button-area">
<a href="/article/index" class="btn btn-success btn-sm ">記事一覧へ</a>

<% if @current_user %>
    <div class="btn btn-success btn-sm">
        <%= link_to("編集","/article/#{@article.id}/edit",:style=>"color:white; ") %>
    </div>
<% end %>
</div>