<div class = "container1">
<div class = "container4" style="background-color: white;">
<div style="padding: 1%;">
<% if @article.title.present? %>
<h1 class="show-article-title-area"><%= raw(@article.title.gsub(/\n/,'<br>') )%></h1>
<% else %>
<% end %>

<div style="text-align: center;">
<% if @article.titleimg.present? %>
<img src="<%= "/article_images/#{@article.titleimg}" %>" class="article_image">
<% else %>
<% end %>
</div>

<% case @article.genre
            when "business" %>
            <div class="genre0 business">ビジネス</div>
            <% when "athlete" %>
            <div class="genre0 athlete">アスリート</div>
            <% when "art" %>
            <div class="genre0 art">芸術</div>
            <% when "politics" %>
            <div class="genre0 politics">政治</div>
            <% when "society" %>
            <div class="genre0 society">社会</div>
            <% when "philosophy" %>
            <div class="genre0 philosophy">哲学</div>
            <% when "education" %>
            <div class="genre0 education">教育</div>
            <% end %>
          </div>

<div style="margin-bottom: 50px;">
<% if @article.lead.present? %>
<%= raw(@article.lead.gsub(/\n/,'<br>') )%>
<% else %>
<% end %>
</div>

 <div class="video">
          <iframe src="<%= @article.youtube %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
          </iframe>
 </div>

<div class="show-article">


<% if @article.topic1.present? %>
<div class="article-topic">
<%= raw(@article.topic1.gsub(/\n/,'<br>') )%>
</div>
<% else %>
<% end %>
<% if @article.content1.present? %>
<p>
<%= raw(@article.content1.gsub(/\n/,'<br>') )%>
</p>
<% else %>
<% end %>
<div style="text-align: center;">
<% if @article.img1.present? %>
<img src="<%= "/article_images/#{@article.img1}" %>" class="article_image" >
<% else %>
<% end %>
</div>

<% if @article.topic2.present? %>
<div class="article-topic">
<%= raw(@article.topic2.gsub(/\n/,'<br>') )%>
</div>
<% else %>
<% end %>
<% if @article.content2.present? %>
<p>
<%= raw(@article.content2.gsub(/\n/,'<br>') )%>
</p>
<% else %>
<% end %>
<div style="text-align: center;">
<% if @article.img2.present? %>
<img src="<%= "/article_images/#{@article.img2}" %>" class="article_image">
<% else %>
<% end %>
</div>

<% if @article.topic3.present? %>
<div class="article-topic">
<%= raw(@article.topic3.gsub(/\n/,'<br>') )%>
</div>
<% else %>
<% end %>
<% if @article.content3.present? %>
<p>
<%= raw(@article.content3.gsub(/\n/,'<br>') )%>
</p>
<% else %>
<% end %>
<div style="text-align: center;">
<% if @article.img3.present? %>
<img src="<%= "/article_images/#{@article.img3}" %>" class="article_image">
<% else %>
<% end %>
</div>

</div>

<div class="show-button-area">
<a href="/article/index" class="btn btn-success btn-sm show-button-text"  >記事一覧へ</a>

<% if @current_user %>
	<div class="btn btn-success btn-sm">
		<%= link_to("編集","/article/#{@article.id}/edit",:style=>"color:white; ") %>
    </div>
</div>
<% end %>
</div>
</div>
</div>